body {
background: rgba(172, 172, 172, 0.6);
    background: linear-gradient(156deg, rgba(172, 172, 172, 0.6) 10%, rgba(180, 180, 180, 0.4) 20%);
    background: -webkit-linear-gradient(156deg, rgba(172, 172, 172, 0.6) 10%, rgba(180, 180, 180, 0.4) 20%);
    background: -moz-linear-gradient(156deg, rgba(172, 172, 172, 0.6) 10%, rgba(180, 180, 180, 0.4) 20%);
    margin: 0px;
}
.search-form {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
        justify-content: center;
        height: 65px;
        background-color:RGBA(0, 8, 0, 0.68);
        border-bottom: 4px solid RGBA(0, 8, 0, 0.1);
}
input:focus{
    outline: 3px solid RGBA(255, 255, 0, 0.4);
}

input {
  margin-right: 5px;
   border: 1px solid RGBA(255, 255, 0, 0.08);
   border-radius: 4px;
    height: 41px;
    padding-left: 15px;
    color: RGBA(0, 8, 0, 0.68);
        font-size: 20px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   


  width: 250px;
}
a {
    text-decoration: none;
    color:RGBA(0, 8, 0, 0.68);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.input-button:focus {
    transform: scale(1.1);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border: none;
        outline: none;
}
.input-button:hover {
    transform: scale(1.1);
transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
border: none;
outline:none;
}
.input-button {




transform: scale(1);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: none;
    outline: none;
border-radius: 4px;
background-color: RGBA(0, 8, 0, 0.68);
cursor: pointer;
    height: 46px;
    width: 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
        justify-content: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
}
.gallery-item {
    transform: scale(1);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 7px 7px 34px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 7px 7px 34px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 7px 7px 34px -5px rgba(0, 0, 0, 0.75);
    padding:10px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    margin-bottom: 20px;
    border: 4px solid RGBA(0, 8, 0, 0.1);
    border-radius: 10px;
    background-color: floralwhite
}
.gallery-item:hover {
    transform: scale(1.05);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

 
.info {
  
    display: flex;
}
.info-item:not(:last-child){
    margin-left: 10px;
    margin-right: 4px;
}
.gallery-item__img {
    width: 496px;
    height: 300px;
   
}

.more-button {
    margin-top:30px;
    margin-bottom: 30px;
    transform: scale(1);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: RGBA(0, 8, 0, 0.68);
        cursor: pointer;
        height: 60px;
        width: 180px;
        color: #fff;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.more-button:hover{
    transform: scale(1.1);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html {
    scroll-behavior: smooth;
}

.akeconsa-udaneles {
    position: fixed;
    bottom: 28px;
    right: 28px;
    transform: scale(1);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 9;
}
.akeconsa-udaneles:hover {
    transform: scale(1.1);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

.akeconsa-udaneles a {
    height: 42px;
    width: 42px;
    text-align: center;
    background: RGBA(0, 8, 0, 0.68);
   
    display: block;
    border-radius: 20px;
}

.akeconsa-udaneles a span {
    color: #f7f0f0;
    font-size: 30px;
    line-height: 42px;
    cursor: pointer;
}